<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobador de Lotería de Nueva York</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <header>
            <h1>Comprobador de Lotería de Nueva York (Usando una API, no EJS 😀)</h1>
        </header>

        <section class="section">
            <h2>Comprobar Los Números Premiados De Una Fecha Específica</h2>
            <form id="checkNumbersForm">
                <label for="date">Selecciona una fecha:</label>
                <input type="date" id="date" name="date" required>
                <button type="submit">Comprobar</button>
            </form>
            <label for="numbersResult">Números premiados:</label>
            <input type="text" id="numbersResult" readonly></div>
        </section>

        <section class="section">
            <h2>Comprobar Tus Números</h2>
            <form id="checkYourNumberForm">
                <label for="yourDate">Selecciona una fecha:</label>
                <input type="date" id="yourDate" name="yourDate" required>
                <label for="yourNumbers">Introduce tus números (separados por espacio):</label>
                <input type="text" id="yourNumbers" name="yourNumbers" placeholder="Ejemplo: 12 34 56 78 90 12 34"
                    required pattern="\d+(\s\d+){0,6}">
                <button type="submit">Comprobar</button>
            </form>
            <label for="yourNumbersResult">Cantidad de aciertos y premio obtenido:</label>
            <input type="text" id="yourNumbersResult" readonly></div>
        </section>
    </main>

    <script>
        document.querySelector('#checkNumbersForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const date = document.getElementById('date').value;
            console.log("🚀 ~ file: index.html:47 ~ document.querySelector ~ date:", date)
            // TODO: Realizar llamada al servidor. Procesar los datos y rellenar adecuadamente el DIV

            // 1. Usar el método fetch para hacer una petición de tipo GET a /api/check-date
            // http://localhost:3000/api/check-date?
            const response = await fetch(`/api/check-date?date=${date}`)

            console.log("🚀 ~ file: index.html:54 ~ document.querySelector ~ response:", response)
            // 2. Tenemos que pasarle una query string a la URL que vamos a consumir: /api/check-date?date=2020-09-25

            // 3. Tenemos que procesar la respuesta de la API. La estructura es :
            //             {
            //   "message": "Draw found",
            //   "winningNumbers": "21 22 50 55 67 20 02"
            // }
            const data = await response.json();
            console.log("🚀 ~ file: index.html:62 ~ document.querySelector ~ data:", data)

            if (response.ok) {
                // 4. Tenemos que coger la propiedad winningNumbers de esta respuesta y meterla en el #numbersResult
                document.querySelector('#numbersResult').value = data.winningNumbers;
            } else {
                document.querySelector('#numbersResult').value = data.message;

            }
        });

        document.querySelector('#checkYourNumberForm').addEventListener('submit', (e) => {
            e.preventDefault();
            const date = document.getElementById('yourDate').value;
            const yourNumbers = document.getElementById('yourNumbers').value;
            // TODO: Realizar llamada al servidor. Procesar los datos y rellenar adecuadamente el DIV        
        });
    </script>
</body>

</html>